doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Workbench
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href=assetPath("font-awesome/css/font-awesome.min.css"))
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")
    link(rel="stylesheet", href=assetPath("leaflet.markercluster/dist/MarkerCluster.css"))
    link(rel="stylesheet", href=assetPath("leaflet.markercluster/dist/MarkerCluster.Default.css"))
    link(rel="stylesheet", href=assetPath("polarmap/css/polarmap.css"))
    != css("main")

    script(type="text/javascript", src=assetPath("jquery/dist/jquery.min.js"))
    script(type="text/javascript", src=assetPath("jquery.transit/jquery.transit.js"))
    script(type="text/javascript", src=assetPath("json2/json2.js"))
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")
    script(type="text/javascript", src=assetPath("proj4/dist/proj4.js"))
    script(type="text/javascript", src=assetPath("proj4leaflet/src/proj4leaflet.js"))
    script(type="text/javascript", src=assetPath("leaflet.markercluster/dist/leaflet.markercluster.js"))
    script(type="text/javascript", src=assetPath("polarmap/dist/polarmap.js"))
    != js("app")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    div#content.container
      div#app

    script(type='text/javascript').
      $(function() {
        Workbench.start({
          el: $("#app")
        });
      });
