<div id="metadataView">
  <h2><%= t('metadata.title') %></h2>

  <div class="row">
    <div class="col-md-9">
      <dl>
        <dt><%= t('metadata.name') %></dt>
        <dd class="sensor-name"><%= t('loading') %></dd>

        <dt><%= t('metadata.description') %></dt>
        <dd class="sensor-description"><%= t('loading') %></dd>

        <dt><%= t('metadata.datastreams') %></dt>
        <dd class="sensor-datastream-count"><%= t('loading') %></dd>

        <dt><%= t('metadata.owner') %></dt>
        <dd class="sensor-owner"><%= t('loading') %></dd>

        <dt><%= t('metadata.contact') %></dt>
        <dd class="sensor-contact"><%= t('loading') %></dd>
      </dl>

      <a href="" class="other-sensors"><%= t('metadata.other') %></a>
    </div>

    <div class="col-md-3">
      <div id="map"><%= t('loading') %></div>
    </div>
  </div>
</div>
